menu "WIFI CONNECT"
config WIFI_SSID
    string "SSID"
    default "Blocker I Hardly Know Her"

config WIFI_PASSWORD
    string "PASSWORD"
    default "hidden"

endmenu

# ESP32 uses default 2MB to support all possible chips
# We have more flash; use it
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
# menu "ESP32"
# config COMPILER_CXX_EXCEPTIONS
#     bool "Support exceptions"
#     default y

# config COMPILER_CXX_EXCEPTIONS_ENG_POOL_SIZE
#     int "Size of exception pool"
#     default 1024

# endmenu
